.loginForm {
    background-color: #00afd7;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 2px 8px 15px #00000050;

}

.inputTitle {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 1.10;
    margin-bottom: 3px;
}


.input {
    width: 340px;
    font-size: 18px;
    border: 1px solid #8d9292;
    border-radius: 5px;
    padding: 5px 30px;
    background-color: #d8d0d0;
   
}

.iconLogin {
    fill: #7e7e7e;
    position: absolute;
    top: 30px;
    left: 9px;
}

.errorMessage {
    color: red;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.12;
    text-align: left;
    margin-bottom: 10px;
}

.button {
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    margin-top: 10px;
    border: 0.5px solid #7e7e7e;
}

.btnIcons {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 2px;

}

.iconsPass {
    width: 20px;
    height: 20px;
    color: #000000;

}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
}